<div class="container col-md-7" style="margin-top: 1%">
  <div class="row">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <ng-template #noCategory>
      <div class="alert alert-warning" role="alert">
        No category founded!
      </div>
    </ng-template>

    <div *ngFor="let mainCategory of mainCategories">
      <button  (click)="categoryOnClick(mainCategory.name,mainCategory.id)"  class="card education">
        <div class="circle">

          <img [src]="mainCategory.icon" style="z-index: 1;max-width: 40%">

        </div>
        <div class="overlay"></div>
        <p class="cat-name-text">{{mainCategory.name}}</p>
      </button>

    </div>


  </div>
</div>
