.new-post-header-text{
  color: #e07a5f;
  text-transform: none;
}

.new-post-header{
  background-color: #f7f7f7;
}

.new-post-text{
  color: #e07a5f;
}
.new-post-container{
  background-color: #f6f6f6;
}
