
<app-error-util *ngIf="errMessage" [errorMessage]="errMessage"></app-error-util>

<div class="login-img">
  <img class="img" src="assets/images/test.png">
</div>

  <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-signin">
    <div class="form-group">
      <input type="text" formControlName="userName" name="userName" class="form-control" id="userName" placeholder="Username" [ngClass]="
      {'is-invalid': loginForm.get('userName').hasError('required') && loginForm.get('userName').dirty && loginForm.get('userName').invalid}">
      <div class="invalid-feedback">
        Username is required!
      </div>
    </div>

    <div class="form-group has-danger">
      <input type="password" formControlName="password" name="password" class="form-control" id="password" placeholder="Password" [ngClass]="
      {'is-invalid': loginForm.get('password').hasError('required') && loginForm.get('password').dirty && loginForm.get('password').invalid}" >
      <div class="invalid-feedback">
        Password is required!
      </div>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Remember me</label>
    </div>
    <button type="submit" class="btn btn-outline-primary , submitBtn">Login</button>
    <br><br>
    <div class="forgetPass">
    <a  routerLink="">Forgot your password?</a>
    </div>
    <br><br>
    <button (click)="openRegisterPopup()" type="button" class="btn btn-outline-success , submitBtn  ">Sign-up Now</button>


  </form>
