
<div class="container" style="max-width: 1010px">
  <nav *ngIf="navbarService.visible" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand navTextHome" [routerLink]="" (click)="router.navigate(['home'])">Wutink</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link navText" [routerLink]="" (click)="router.navigate(['categories'])" >Categories<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0 searchBarForm">
        <input class="form-control mr-sm-2 searchBar" type="search" placeholder="Search" aria-label="Search">
        <button class="btn-icon " type="submit"><i class="fa fa-search icons"></i></button>
      </form>

      <div class="sec-center">
        <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
        <label class="for-dropdown row" for="dropdown">
          <div class="col-md-1">
          <i class="fa fa-user-circle-o icons "></i>
          </div>
          <div class="col-md-6">
            <i class="fa fa-caret-down icons" ></i>
          </div>
        </label>
        <div class="section-dropdown">
          <a [routerLink]="" (click)="onProfileClick()">Profile</a>
          <a [routerLink]="" (click)="logout()">Logout</a>
        </div>
      </div>

    </div>
  </nav>

</div>













