
<div class="container" style="max-width: 1010px">
  <nav *ngIf="navbarService.visible" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand navTextHome" [routerLink]="" (click)="router.navigate(['home'])">Wutink</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link navText" [routerLink]="" (click)="router.navigate(['categories'])" >Categories<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item navText">
          <a class="nav-link navText" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navText" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0 searchBarForm">
        <input class="form-control mr-sm-2 searchBar" type="search" placeholder="Search" aria-label="Search">
        <button class="btn-icon " type="submit"><i class="fa fa-search icons"></i></button>
      </form>

      <!-- Example single danger button -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle profile-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-user user-icon"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

    </div>
  </nav>

</div>













