
<div class="container " style="max-width:1010px">

     <button class="btn btn-post" (click)="openPostPopup()">Share your experience...
       <i class="fa fa-pencil post-icon"></i>
     </button>

  <div class="row"  >
    <blockquote class="speech-bubble col-md-3">
      <p>When will Apple release a MacBook Air 15" with Retina?</p>
      <cite>John Doe - Developer</cite>
      <div class="row card-baseline" >
      <button class="btn-icon "><i class="fa fa-comments icons"></i></button>
        <i class="fa fa-eye icons"></i>
        <div id="main-content">
        </div>
      </div>
    </blockquote>

    <blockquote class="speech-bubble col-md-3">
      <p>When will Apple release a MacBook Air 15" with Retina?</p>
      <cite>John Doe - Developer</cite>
      <div class="row card-baseline" >
        <button class="btn-icon "><i class="fa fa-comments icons"></i></button>
        <i class="fa fa-eye icons"></i>
        <div id="main-content1">
        </div>
      </div>
    </blockquote>

    <blockquote class="speech-bubble col-md-3">
      <p>When will Apple release a MacBook Air 15" with Retina?</p>
      <cite>John Doe - Developer</cite>
      <div class="row card-baseline" >
        <button class="btn-icon "><i class="fa fa-comments icons"></i></button>
        <i class="fa fa-eye icons"></i>
        <div id="main-content2">
        </div>
      </div>
    </blockquote>

    <blockquote class="speech-bubble col-md-3">
      <p>When will Apple release a MacBook Air 15" with Retina?</p>
      <cite>John Doe - Developer</cite>
      <div class="row card-baseline" >
        <button class="btn-icon "><i class="fa fa-comments icons"></i></button>
        <i class="fa fa-eye icons"></i>
        <div id="main-content23">
        </div>
      </div>
    </blockquote>
  </div>
</div>

