.wutink-user-profile-nav-text{
  color: #e07a5f !important;
}

.btn-post{
  width: 100%;
  text-align: initial;
  color: #7a7a7a;
  background-color: #d6d6d61f;
  height: 55px;
  border: solid;
  border-radius: 100px;
  margin-bottom: 50px;
  margin-top: 20px;

}
.wutink-user-profile-container{
  width: 100%;
}
.wutink-maincategories-list-group-item{
  //background-color: rgba(251,244,229, 1);
  background-color: #d6d6d61f;
  color: #e07a5f;
}
.wutink-maincategories-list-group-header{
 // background-color: #e0ac9e;
  background-color: lightgray;
  color: white;
}
.wutink-user-profile-img{
  height: 140px;
  width: 140px;
  margin-left: 25%;
  margin-bottom: 30px;
}
