<div class="container" style="max-width: 1010px;">

  <div class="row">
    <div class="col-md-8">
      <button (click)="openPostPopup()" class="btn btn-post">Share your experience...
        <i class="fa fa-pencil post-icon"></i>
      </button>

      <div class="wutink-user-profile-container" id="asdasd">
        <ul class="nav nav-tabs">
          <li class="nav-item ">
            <button class="nav-link active wutink-user-profile-nav-text" data-bs-toggle="tab" href="#home">Experiences
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link active wutink-user-profile-nav-text" data-bs-toggle="tab" href="#profile">Profile
            </button>
          </li>
        </ul>

        <div *ngFor="let experience of experienceList" class="card">
            <div class="row">
              <div class="col-md-9">
                <summary class="list-group" (click)="openExperiencePopup(experience.id)">{{experience.header}}</summary>
              </div>
              <div class="col-md-3 text-end">
                <button type="button" class="btn-delete" (click)="deleteExperience(experience.id)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
        </div>

      </div>
    </div>

    <div class="col-md-4 ">
      <div>
        <img class="wutink-user-profile-img img-responsive rounded-circle" src="https://i.imgur.com/qdiP4DB.jpg"
             width="38">
        <p class="wutink-username">@{{username}}</p>
      </div>

      <ul class="list-group">
        <li class="list-group-item wutink-maincategories-list-group-header" style="text-align: center">CATEGORIES</li>
        <button *ngFor="let mainCategory of mainCategories"
                class="list-group-item wutink-maincategories-list-group-item"
                (click)="router.navigate(['experience/c/'+mainCategory.id])">
          <img [src]="mainCategory.icon" style="z-index: 1;max-width: 8%;margin-right: 10px">
          {{mainCategory.name}}
        </button>
      </ul>
    </div>

  </div>
</div>
