<div class="container" style="max-width: 1010px" xmlns="http://www.w3.org/1999/html">

  <div class="wutink-comment-row">
    <form [formGroup]="commentForm" (ngSubmit)="addComment()" class="form-group row wutink-addComment-form">
      <img class="wutink-comment-img img-responsive rounded-circle col-md-1" src="https://i.imgur.com/qdiP4DB.jpg" width="38">
      <textarea type="text" name="description" class="form-control wutink-comment-box col-md-9" formControlName="description"
                rows="3" placeholder="@{{currentUserName}} drop a comment about this experience..."></textarea>
      <button class="btn wutink-comment-btn col-md-1 " type="submit">
        <i class="fa fa-send-o"></i>
      </button>
    </form>
  </div>

  <div class="wutink-comment-list">
    <div *ngFor="let comment of commentList" class="commented-section mt-2 wutink-comment-section">
      <div class="d-flex flex-row align-items-center commented-user">
        <h5 class="mr-2 comment-username">{{comment.username}}</h5><span class="dot mb-1"></span><span
        class="mb-1 ml-2">{{comment.creationTime}}</span>
      </div>
      <div class="comment-text-sm wutink-comment-component"><span>{{comment.description}}</span></div>
      <div class="reply-section">
        <div class="d-flex flex-row align-items-center voting-icons"><i
          class="fa fa-sort-up fa-2x mt-3 hit-voting"></i><i
          class="fa fa-sort-down fa-2x mb-3 hit-voting"></i><span class="ml-2">10</span><span
          class="dot ml-2"></span>
          <h6 class="ml-2 mt-1">Reply</h6>
        </div>
      </div>
    </div>

    <div class="wutink-more-comments">
      <button class="btn btn-outline-dark">Load more comments...</button>
    </div>
  </div>


</div>




